#send-form {
  display: flex;
  background:rgb(34, 43, 48);
  justify-content:space-between;
}
 #send-container {
      background-color: #33383b;
      display: flex;
      margin-bottom: 5px;
      border-radius: 20px;
      padding: 5px;
      width:100%;
    }
  .look-button {
      font-size:24px;
      border: none;
      background: none; 
      outline:none;
      cursor:pointer;
    }
     #emoji-container {
      background-color: blue;
      height:200px;
      display: flex;
      border-radius: 20px;
      padding: 5px;
    }
    #emoji-grid {
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      align-items:center;
      height:200px;
      overflow-y:scroll;
    }

    #emoji-button {
      outline: none;
      text-decoration: none;
      background: none;
      border-radius: 50%;
    }
  .emoji {
      font-size:24px;
      cursor:pointer;
      padding:4px;
    }
    .emoji:hover{
      background:white;
      border-radius:10px;
    }
  .message-input {
      flex-grow: 1;
      background: none;
      outline: none;
      border: none;
      font-size: 20px;
    }

input:focus, textarea:focus, select:focus{
  outline: none;
}
#send-button {
      font-size:24px;
      border: none;
      background: none; 
      outline:none;
      cursor:pointer;
    }