#send-form {
  display: flex;
  justify-content:space-between;
}
 #send-container {
      background-color: #1f455e;
      display: flex;
      /* align-items: flex-end; */
      padding-block-end: inherit;
      margin-bottom: 5px;
      border-radius: 20px;
      padding: 5px;
      width:100%;
      transition: box-shadow .3s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
  .look-button {
      font-size:24px;
      border: none;
      background: none; 
      outline:none;
      cursor:pointer;
    }
     #emoji-container {
      height:200px;
      display: flex;
      border-radius: 20px;
      padding: 5px;
    }
    #emoji-grid {
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      align-items:center;
      height:200px;
      overflow-y:scroll;
    }

    #emoji-button {
      outline: none;
      text-decoration: none;
      background: none;
      border-radius: 50%;
    }
  .emoji {
      font-size:24px;
      cursor:pointer;
      padding:4px;
    }
    .emoji:hover{
      background:white;
      border-radius:10px;
    }
  .message-input {
      flex-grow: 1;
      background: none;
      outline: none;
      border: none;
      font-size: 20px;
      color:white;
    }

input:focus, textarea:focus, select:focus{
  outline: none;
}
#send-button {
      font-size:24px;
      border: none;
      background: none; 
      outline:none;
      cursor:pointer;
    }