.user-list {
  display: flex;
  flex-direction: column;
}

.activeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50%;
  width: 100%;
}

.activeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1.0em;
  width:100%;
}
.user-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.photo-profile {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.user-name {
  margin-right: 0;
  margin-left: 4em;
  width: 5em;
}

.activeItem hr {
  width:100%;
  opacity:0.5;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 800px) {
  .textContainer {
    display: none;
  }
}